@implements IDisposable

@inject AppData _appData
@inject NavigationManager _navigationManager

@foreach (var item in _appData.NavItems)
{
    <a href="@item.Href" class="float-start mt-2">
        <img src="@item.Icon" alt="Image" height="40">
    </a>
    if(_appData.NavItems.Count() > 1 && _appData.NavItems.Last().Href != item.Href  )
    {
        <h1 class="float-start mx-2 mt-2"> / </h1>
    }
}

@if (_appData?.SelectedUser?.Id is not 0)
{
    <span class="float-end mt-3">
        @_appData.SelectedUser.FirstName
        @_appData.SelectedUser.LastName
        <img @onclick="Deconnexion" src="/icons/le-crane.png" alt="Image" height="25">
    </span>
}
else
{
    <span class="float-end mt-2">
        Identification requise ...
    </span>
}
<br />
<br />
<hr />

@code {
    bool isFirst = true;
    private void Deconnexion()
    {
        _appData.SetUser(new UserModel());
        _navigationManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        _appData.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appData.OnChange -= StateHasChanged;
    }
}
