@implements IDisposable


@foreach (var item in appData.NavItems)
{
    <a href="@item.Href" class="float-start mt-2">
        <img src="@item.Icon" alt="Image" height="40">
    </a>
    if(appData.NavItems.Count() > 1 && appData.NavItems.Last().Href != item.Href  )
    {
        <h1 class="float-start mx-2 mt-2"> / </h1>
    }
}

@if (appData?.Id is not 0)
{
    <span class="float-end mt-3">
        @appData.FirstName
        @appData.LastName
        <img @onclick="Deconnexion" src="/icons/le-crane.png" alt="Image" height="25">
    </span>
}
else
{
    <span class="float-end mt-2">
        Identification requise ...
    </span>
}
<br />
<br />
<hr />

@code {
    bool isFirst = true;
    private void Deconnexion()
    {
        appData.SetUser(new UserModel());
        NavManager.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        appData.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        appData.OnChange -= StateHasChanged;
    }
}
