@inherits LayoutComponentBase

<PageTitle>M5Blz</PageTitle>

<div class="page text-white">
    <main>
        <article class="content px-4">
            
            <CoreMenu></CoreMenu>
            @Body
        </article>
    </main>
</div>

