
<h3>CreateM5Vampire</h3>

@code {
    public List<AttributeModel> Attributes { get; set; } = new();
    public List<AttributeTypeModel> AttributeTypes { get; set; } = new();
    public List<ClanModel> Clans { get; set; } = new();
    public List<SkillPointSystemModel> SkillPoints { get; set; } = new();
}
