<div class="row mt-2">
    <div class="col-md-12">
        <div class="card bg-dark text-white rounded-3">
            <div class="row g-0">
                <div class="p-3 col-md-12 ">
                    <p><h4>Soif</h4></p>
                    <p>
                        Est la voix du Sang et les griffes de la Bête. Elle appelle constamment le vampire par des murmures
                        et desis de besoins, de pulsions et de désirs.
                    </p>
                    <p>
                        Tous les vampires se réveillent tourmentés par la Soif et doivent tuer pour
                        la faire taire. Les Descendants payent leur immortalité et
                        leurs pouvoirs en Soif, et la non-vie leur présente constamment l’addition.
                    </p>
                    <div class="container-fluid p-5 text-center wakoo-soif"></div>
                </div>
                <div class="col-md-6">
                    <div class="card-body m-2 border">
                        <div class="card-body m-2">
                            <h4 class="floar-left">Exalter le sang</h4>
                            <hr />
                            <p class="card-text p-2">
                                Chaque fois qu’un vampire se réveille au coucher du
                                soleil,
                                fait appel à ses pouvoirs ou échauffe son sang de toute
                                autre manière, il risque d’éveiller sa Soif. Quand un vampire renforce ses
                                attributs avec un Coup de sang, prend
                                les Couleurs de la vie ou régénère son corps endommagé
                                (voir pages 218-219), son joueur doit faire un test d’Exaltation. Activer la
                                plupart des pouvoirs des disciplines coûte
                                également au moins un test d’Exaltation (voir le chapitre
                                Disciplines en pages 243-287).
                            </p>
                            <p class="card-text p-2">
                                Pour faire un test d’Exaltation, le joueur lance un
                                seul
                                dé. Comme toujours, un résultat de 6 ou plus est une réussite. Sur une
                                réussite, la Soif du vampire ne change pas. Sur
                                un échec, le vampire gagne 1 point de Soif supplémentaire,
                                et donc un dé de Soif supplémentaire.
                            </p>
                            <p class="card-text p-2">
                                Le ou les points de Soif éventuellement gagnés sont
                                ajoutés après la résolution de l’effet désiré, il est donc possible
                                de faire le test d’Exaltation en même temps que tout autre
                                jet de dés impliqué ou même après, tant que le dé d’Exaltation est
                                clairement distinct et ne peut pas être confondu
                                avec les dés du groupement du jet.
                            </p>
                            <p class="card-text p-2">
                                Certains facteurs, comme une grande Puissance du sang,
                                permettent au joueur de lancer deux dés pour certains
                                tests d’Exaltation et de choisir le résultat le plus élevé. Une
                                réussite (6 ou plus) sur l’un des dés seulement empêche la
                                Soif d’augmenter. (Cet effet équivaut à la possibilité de
                                relancer le test.)
                            </p>
                            <p class="card-text p-2">
                                À 5 points de Soif, le corps du vampire est trop vide
                                de
                                sang pour fournir des pouvoirs surnaturels autres que son
                                existence même. Un vampire ne peut jamais exalter le sang
                                intentionnellement lorsque sa Soif est à 5. Si un facteur
                                extérieur déclenche un test d’Exaltation pour le vampire,
                                son joueur doit immédiatement faire un jet pour tenter de
                                résister à une frénésie de Soif, difficulté 4 (voir page 220).
                                Comme toujours, même si un test d’Exaltation à 5 en Soif
                                échoue, si c’est un effet qui a déclenché le test, il s’active
                                malgré tout.
                            </p>
                            <p class="fst-italic">Voir page 211</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body m-2 border">
                        <div class="card-body m-2 ">
                            <h4 class="floar-left">Étancher la Soif</h4>
                            <hr />
                            <p class="card-text p-2 ">
                                Boire du sang réduit le niveau de Soif d’un vampire
                                d’un
                                nombre de points fixe. Le seul moyen de réduire la Soif à 0
                                est de vider un humain de tout son sang et donc de le tuer
                            </p>

                            <p class="card-text p-2">
                                Les jeunes vampires peuvent réduire leur Soif à 1 sans
                                tuer de victime humaine. Au fur et à mesure que la
                                Puissance du sang d’un vampire augmente, son niveau de
                                Soif « par défaut » grimpe également. Par exemple, avec
                                une Puissance du sang supérieure à 7, un vampire ne peut
                                pas réduire sa Soif à moins de 3 sans tuer une victime
                                humaine.
                            </p>

                            <p class="card-text p-2">
                                Boire du sang prend du temps et le faire proprement
                                nécessite de faire attention. La morsure d’un vampire peut
                                être un moment de véritable euphorie pour la victime ; les
                                crocs vampiriques lui procurent une extase enivrante surnaturelle lorsqu’ils
                                pénètrent dans un vaisseau sanguin. Si
                                le vampire prend le temps d’ouvrir une veine ou une artère
                                proprement et lèche la blessure pour la refermer ensuite, la
                                victime peut prendre l’événement pour un trip provoqué
                                par des drogues, pour un interlude sexuel bizarre ou seulement pour un
                                brouillard délirant d’intimité ivre.
                            </p>

                            <p class="card-text p-2">
                                Mais même une blessure refermée et une hallucination
                                plaisante pour la victime peuvent être suivies d’une embolie gazeuse, sans
                                parler de l’anémie
                                sur le long terme pour les calices
                                réguliers.
                            </p>
                            <p class="card-text p-2">
                                En règle générale, tenter de préserver la vie, la santé
                                ou les souvenirs écrans agréables de la victime
                                (et la Mascarade par la même occasion) prend plus longtemps que de se
                                contenter d’ouvrir une artère et d’aspirer goulûment le truc rouge. D’un
                                autre côté, une victime qui résiste
                                ralentit le processus et met en danger
                                la Mascarade. Un vampire peut vider
                                de son sang et tuer un humain qui ne
                                peut ou ne veut pas résister en cinq
                                tours environ.
                            </p>

                            <p class="fst-italic">Voir page 211</p>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <img src="/images/ccc.jpg" class="img-fluid rounded-start" alt="New-vamp">
                    <div class="p-3">
                        <p class=" alert alert-dark">
                            Vous ne lancez pas de dés de Soif sur un jet de Volonté ou
                            d’Humanité, donc vous ne pouvez pas obtenir de triomphe
                            brutal sur ce type de jet.
                        </p>
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">VALEUR DU DÉE</th>
                                    <th scope="col">CONSÉQUENCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>Échec, échec bestial si le jet échoue</td>
                                </tr>
                                <tr>
                                    <td scope="row">2-5</td>
                                    <td>Échec</td>
                                </tr>
                                <tr>

                                    <td scope="row">6-9</td>
                                    <td>Réussite</td>
                                </tr>
                                <tr>
                                    <td scope="row">10</td>
                                    <td>Réussite, triomphe brutal en cas de victoire critique</td>
                                </tr>
                                <p class="fst-italic">Voir page 206</p>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body m-2 border">
                            <h4 class="floar-left">Triomphe brutal</h4>
                            <hr />
                            <p class="card-text p-2">
                                Une victoire critique incluant au moins un 10 sur un dé
                                de Soif est un triomphe brutal. Le personnage réussit son
                                action comme avec une victoire critique ordinaire, mais à
                                la manière d’un animal et non d’un être capable d’anticiper
                                ou de se contrôler. La Bête a obtenu le critique, et non le
                                personnage.
                            </p>

                            <p class="fst-italic">Voir page 207</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body m-2 border">
                            <h4 class="floar-left">Échec bestial</h4>
                            <hr />
                            <p class="card-text p-2">
                                Un jet qui échoue (si vous obtenez un nombre de réussites
                                inférieur à la difficulté ou à celui du joueur d’un adversaire) et sur lequel au moins
                                un dé
                                de Soif donne un 1 est un
                                échec bestial. Soit le personnage a échoué parce que sa Bête
                                s’est manifestée au pire moment possible ou à l’excès, soit
                                l’échec du personnage a mis sa Bête en colère et elle s’est
                                manifestée au pire moment possible ou à l’excès.
                            </p>

                            <p class="fst-italic">Voir page 207</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
