@page "/CoreRules"
@inject ICoreRulesData _db
@inject AppData _appData
@inject NavigationManager _navigationManager

<div class="text-center">
    <h2>Selectionner le système de règles de la campagne</h2>
</div>

<div class="d-flex justify-content-center">
    @foreach (var coreRule in CoreRuleList)
    {
        <_ClickableBaseCard ConfirmationClick="CoreRulesSelected"
            Id="@coreRule.Id"
            Name="@coreRule.Name"
            IconPath="@coreRule.IconPath">
        </_ClickableBaseCard>
    }
</div>

@code {
    private List<CoreRulesModel> CoreRuleList = new();
    protected override async Task OnInitializedAsync()
    {
        CoreRuleList = await _db.GetCoreRules();
    }

    private void CoreRulesSelected(int id)
    {
        _appData.SelectedCoreRules = CoreRuleList.First(x => x.Id == id);
        _navigationManager.NavigateTo("/Campaign");
    }
}
