@page "/CoreRules"
@inject ICoreRulesData _db

<div class="text-center">
    <h2>Selectionner le système de règles de la campagne</h2>
</div>

<div class="d-flex justify-content-center">
    @foreach (var coreRule in CoreRuleList)
    {
        <div @onclick="() => CoreRulesSelected(coreRule)" class="border border-5 m-2 p-2">
            <img class="border border-3" src="@(coreRule.IconPath)" alt="Image" height="100">
            <span class="fw-bold">@coreRule.Name</span>
        </div>
    }
</div>


@code {
    private List<CoreRulesModel> CoreRuleList = new();
    protected override async Task OnInitializedAsync()
    {
        CoreRuleList = await _db.GetCoreRules();
    }

    private void CoreRulesSelected(CoreRulesModel coreRulesModel)
    {
        appData.SelectedCoreRules = coreRulesModel;
        
        NavManager.NavigateTo("/Campaign");
    }

}
