@page "/"

@inject IUserData _db
@inject AppData _appData
@inject NavigationManager _navigationManager

@implements IDisposable

<div class="container">
    <div class="text-center ">
        <div class="alert alert-info">
            <a href="https://www.flaticon.com/free-icons/team" title="team icons">Team icons created by juicy_fish - Flaticon</a>
        </div>

        @if (_appData?.SelectedUser?.Id is 0 or null)
        {
            <Identification></Identification>
        }
        else
        {
            <div class="d-flex justify-content-center">
                @if (_appData.SelectedUser.IsDM)
                {
                    <_ClickableBaseCard ConfirmationClick="OnCoreRulesClick"
                                Id="0"
                                Name="Gérer les utilisateur"
                                IconPath="/icons/team-management(1).png">
                    </_ClickableBaseCard>
                }
                <_ClickableBaseCard ConfirmationClick="OnCoreRulesClick"
                                Id="1"
                                Name="Gestion des campagnes"
                                IconPath="/icons/plan-daffaires.png">
                </_ClickableBaseCard>
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _appData.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        _appData.OnChange -= StateHasChanged;
    }

    public async Task OnCoreRulesClick(int id)
    {
        switch (id)
        {
            case 0:
                _navigationManager.NavigateTo("/Users");
                break;
            case 1:
                _navigationManager.NavigateTo("/CoreRules");
                break;
        }
    }
}
