@page "/"
@using M5Blz.Pages.Core


@inject IUserData _db
@inject AppData appData

@inject NavigationManager nav

@implements IDisposable

<div class="container">
    <div class="text-center ">
        <div class="alert alert-info">
            <a href="https://www.flaticon.com/free-icons/team" title="team icons">Team icons created by juicy_fish - Flaticon</a>
        </div>
        @if (appData?.Id is 0 or null)
        {
            <Identification></Identification>
        }
        else
        {

            <div class="row">

                <div class="col-md-3 offset-md-3">
                    @if (appData.IsDM)
                    {
                        <div class="card bg-black">
                            <a href="/Core/Users">
                                <img src="/icons/team-management(1).png" alt="Image" height="150">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/Users"> Gérer les utilisateur</a></h5>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3">

                    <div class="card bg-black">
                        <a href="/CoreRules">
                            <img src="/icons/plan-daffaires.png" alt="Image" height="150">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="/CoreRules"> Gestion des campagnes</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        appData.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        appData.OnChange -= StateHasChanged;
    }
}
