@page "/Campaign"

<div class="d-flex  justify-content-between">
     <div>
        <img class="" src="/icons/drame.png" alt="Image" height="150">
        <span  class="">Bienvenue sur la page des campagnes</span>
</div>

    <div class="border border-5 m-2 p-2 float-end">
        <img class="border border-3" src="@(appData.SelectedCoreRules.IconPath)" alt="Image" height="100">
        <span class="fw-bold">@appData.SelectedCoreRules.Name</span>
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        if (appData.SelectedCoreRules.Id == 0)
        {
            NavManager.NavigateTo("/CoreRules");
        }
    }

}
