@using DataAccessLibrary
@using DataAccessLibrary.Models
@using M5Blz.Models
@using M5Blz.Services

@inject IUserData _db
@inject AppData appData


<EditForm Model="@codeModel" OnValidSubmit="@SetUser" class="row">

    <div class="col-md-4 offset-md-4">
        
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ul class="validation-errors">
            <li class="validation-message">@error</li>
        </ul>

    </div>

    <div class="col-md-4 offset-md-4 text-center ">
        <InputText type="password" id="code" @bind-Value="codeModel.Code" class="mt-2 form-control" placeholder="Entrer votre code ..." />
        <br />
    </div>

</EditForm>

@code {
    private string error = "";
    private DisplayCodeModel codeModel = new();

    private async Task SetUser()
    {
        var user = await _db.GetUser(codeModel.Code);
        if (user is not null)
        {
            appData.SetUser(user);
            error = "";
        }
        else
        {
            error = "Le code est invalide.";
        }
    }
}
